body{
    background-color: black;
    background-image: linear-gradient(to right, #1e25ac 20%, #000 80.1%, #001 50.2%, #000 100%);
    background-size: 100px 100px;
    background-position: 0 0;
}
p{
    color: white;
}
h1{
    color: white;
}
#uncLogo{
    height: 3em;
}


.container {
    display: flex;
    flex-wrap: wrap;
}


header {
    /*background: skyblue;*/
    flex: 1 0 100%;
    order: 1;
}
main {
    /*background: slategray;*/
    order: 3;
    flex: 1 1 500px;
}
nav {
    /*background: cadetblue;*/
    order: 2;
    flex: 1 0 200px;
}
aside {
    /*background: seagreen;*/
    order: 4;
    flex: 1 0 200px;
}
footer {
    /*background: darkslateblue;*/
    flex: 1 0 100%;
    order: 5;
}
li{
    color: white;
}


@keyframes fadeAnimation {
    100% {
        opacity: 1;
    }
}

.fadeClass {
    animation: fadeAnimation 3s forwards;
    opacity: 0;
}

.progressCircle {
    border: 5px solid white;
    background: conic-gradient(from 0deg, red 0deg, palevioletred 90deg, lightpink 270deg, lightgreen 340deg);
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.progressCircle2 {
    border: 5px solid white;
    background: conic-gradient(from 0deg, red 0deg, palevioletred 90deg, lightpink 270deg, red 360deg);
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

a{
    color: white;
}
